* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

 .background-top {
    background-color: #009688;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 150px;
    width: 100%;
  }
  
  .background-bottom {
    background-color: #D9DBD4;
    position: fixed;
    top: 150px;
    left: 0;
    z-index: -1;
    height: calc(100% - 150px);
    width: 100%;
  }
  
  .container {
    margin: 0 auto;
    width: 80%;
  }